body, b {
    text-align: center;
    background-color: black;
    color: white;
    font-family: Arial;
}

textarea {
    background-color: black;
    color: white;
}

p {
    font-family:'Courier New', Courier, monospace;
}

.resultsBox {
    display: flex;
    justify-content: space-evenly;
}