<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" />
    <title>MadMeme</title>
  </head>

  <body>
    <hr />
    <h1>MadMeme</h1>
    <hr />
    <form action="/images" method="post">
      <textarea required id="top" class="adlib" name="top" rows="10"></textarea
      ><br />
      <label for="top">Top Text:</label><br /><br />
      <textarea
        required
        id="bottom"
        class="adlib"
        name="bottom"
        rows="10"
      ></textarea
      ><br />
      <label for="bottom">Bottom Text:</label><br /><br />
      <button type="submit">Submit</button>
    </form>
    <hr />
    <h2>Instructions</h2>
    <p>
      <b
        >Using nouns, verbs, adjectives, and adverbs, insert your adlib template
        in the text areas above as in the following examples:</b
      ><br /><br />
      When the [noun] keeps [verb]ing<br />
      But you're [adjective]<br /><br />
      Never thought [noun] would be my [noun]<br />
      [adverb]<br /><br />
      <b>When you're done, click Submit to generate your memes!</b>
    </p>
  </body>
</html>
