<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="../style.css">
	<title>MadMeme</title>
</head>

<body>
    <hr>
	<h1>MadMeme</h1>
    <hr>
    <form action="..." method="post">
        <textarea id="adlib" name="adlib" rows="5" cols="80"></textarea><br>
        <label for="adlib">Type your adlib template here</label><br><br>
        <button type="submit">Submit</button>
    </form>
    <hr>
    <h2>Instructions</h2>
    <p><b>Insert your adlib template in the text area above as follows:</b><br><br>"The [adjective] [noun] went to the [noun] and [verb] the [noun]."</p>
</body>

</html>