<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="../style.css">
	<title>Results</title>
</head>

<body>
    <hr>
	<h1>Results</h1>
    <hr>
    
    <div class="resultsBox">
        <!--<img src="">
        <img src="">
        <img src="">
        <br>
        <img src="">
        <img src="">
        <img src="">-->
        <fieldset></fieldset>
        <fieldset></fieldset>
        <fieldset></fieldset>
    </div>
    <br>
    <div class="resultsBox">
        <fieldset></fieldset>
        <fieldset></fieldset>
        <fieldset></fieldset>
    </div>
    
    <hr>
</body>

</html>